@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@media (min-width: 0) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    margin: 0 auto;
  }
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.header-section {
  color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.header-section .navigation {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #6838dc;
}
.header-section .navigation .container {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section .navigation a {
  all: unset;
  display: block;
  cursor: pointer;
}
.header-section .navigation a .name {
  font-family: "Playfair Display", serif;
}
.header-section .navigation .bars {
  cursor: pointer;
}

.hero-section {
  height: calc(100vh - 80px);
  position: relative;
  background-image: url("/assets/hero-author.png");
  background-size: cover;
  background-position: center top;
  position: relative;
}
.hero-section::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #6838dc;
}
@media (min-width: 992px) {
  .hero-section {
    background: #6838dc;
  }
}
.hero-section .container {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 992px) {
  .hero-section .container {
    justify-content: space-between;
  }
}
.hero-section .hero-text-and-buttons-block {
  font-family: "Playfair Display", serif;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 992px) {
  .hero-section .hero-text-and-buttons-block {
    text-align: left;
  }
}
.hero-section .hero-text-and-buttons-block .hero-text-block .hero-info {
  font-size: 1.5rem;
  color: #f2f2f2;
}
.hero-section .hero-text-and-buttons-block .hero-text-block .hero-header {
  font-size: 3rem;
  color: #ffd41e;
  font-weight: bold;
}
.hero-section .hero-text-and-buttons-block .hero-buttons-block a {
  all: unset;
  color: #f2f2f2;
  background-color: #237a2c;
  border-radius: 8px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.25s linear;
}
.hero-section .hero-text-and-buttons-block .hero-buttons-block a:hover {
  background-color: #18521e;
}
.hero-section .hero-imager {
  height: 100%;
  width: 100%;
  position: relative;
  display: none;
  z-index: 10;
  overflow-y: hidden;
}
.hero-section .hero-imager::before {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 100%;
  width: 95%;
  background-color: #f2f2f2;
  border-top-right-radius: 80px;
  border-top-left-radius: 30px;
  transform: skewY(-15deg);
  z-index: -1;
}
@media (min-width: 992px) {
  .hero-section .hero-imager {
    display: block;
  }
}
.hero-section .hero-imager img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}