@use "../responsive";

.header-section {
  color: $white;
  position: sticky;
  top: 0;
  z-index: 9999;

  .navigation {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: $purple;

    .container {
      min-height: $nav-min-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    a {
      all: unset;
      display: block;
      cursor: pointer;

      .name {
        font-family: "Playfair Display", serif;
      }
    }

    .bars {
      cursor: pointer;
    }
  }
}
