@use "responsive";

//color variables
$white: #f2f2f2;
$shadow: #343232;
$purple: #6838dc;
$green: #237a2c;
$yellow: #ffd41e;

//utility variables

//container-component
@each $key, $value in responsive.$breakpoints {
  .container {
    @media (min-width: $value) {
      max-width: map-get(responsive.$container-max-widths, $key);
      margin: 0 auto;
    }
  }
}
